/* RESPONSIVE LAYOUT */
/* Media Queries */

/**************************/
/* BELOW 1344px (Smaller Desktops) */
/**************************/

/*********** Hero Section ***********/
@media (max-width: 84em) {
  /*  */
  h1 {
    width: 50.6rem;
    font-size: 7.4rem;
    line-height: 8rem;
  }

  .hero-img {
    width: 62rem;
  }

  .hero-img-background {
    width: 37rem;
    height: 37rem;
  }

  .header-underline {
    margin-top: 6.4rem;
    height: 0.3rem;
  }

  .hero-textbox p {
    margin-top: 4.4rem;
    font-size: 1.8rem;
    width: 24rem;
  }

  /* .hero-btn {
    margin-top: -2rem;
  } */

  button {
    font-size: 1.8rem;
  }

  button.hero-cta-btn .button-text {
    top: 0.2rem;
  }

  .video-playback p {
    font-size: 1.6rem;
    width: 8.7rem;
    margin-top: 0;
  }

  /*********** Accessories Section ***********/
  .accessories1 {
    top: 18%;
    left: 40%;
    width: 78.8rem;
  }

  /*********** Colors Section ***********/
  .sliderNavItem img {
    width: 20.57rem;
  }

  /*********** Footer ***********/
  .footer-scooter {
    width: 63rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  /*********** Product Section ***********/
  .product-img {
    position: absolute;
    width: 68.8rem;
    top: 120%;
    left: -5%;
  }

  /*********** Motor Section ***********/
  .motor img {
    max-width: 80%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  /*********** Navigation Bar ***********/

  .main-nav-btn {
    margin-top: 0;
  }

  .menu-icon {
    font-size: 2.5rem;
  }

  .main-nav ul {
    align-items: center;
    gap: 2.5rem;
    background-color: #42454a;
    margin-bottom: 2rem !important;
  }

  .main-nav div ul li a {
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff !important;
  }

  .main-nav .nav-btn {
    justify-self: center;
  }

  /*********** Features Section ***********/
  .features {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .feature {
    width: 24.5rem;
  }

  /*********** Product Section ***********/
  .product-img {
    width: 57.8rem;
    top: 172%;
    left: -17%;
  }

  /*********** Accessories Section ***********/
  .accessories1 {
    width: 67rem;
    top: 20%;
    left: 43%;
  }

  .accessories2 {
    width: 62.9rem;
  }

  .gallery-img-1 {
    margin-top: 10rem;
    width: 80rem;
  }

  .gallery-img-2 {
    margin-top: 6rem;
    width: 80rem;
  }

  .gallery-img-3 {
    margin-top: 6rem;
    width: 80rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/
