/*********** Navigation Bar ***********/
.main-nav {
  padding: 2.6rem 0;
  border-bottom: 0.1rem solid #eae8f3;
}

.main-nav .logo {
  width: 7rem;
}

.main-nav ul {
  gap: 7.5rem;
}

.main-nav ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.main-nav ul li a::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0.1rem;
  background-color: #42454a;
  width: 0;
}

.main-nav ul li a:hover::after {
  width: 100%;
  transition: width linear 0.3s;
}

.main-nav .nav-btn {
  display: flex;
  gap: 2.5rem;
  flex-direction: row;
}

.main-nav .nav-btn a {
  padding: 1.6rem 2.6rem;
  background-color: #42454a;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all linear 0.4s;
}

.main-nav .nav-btn a:hover {
  background-color: #fff;
  color: #42454a;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/*********** Hero Section ***********/
#section-hero {
  margin-top: 8.4rem;
  position: relative;
}

h1 {
  width: 58.6rem;
  font-size: 9rem;
  line-height: 9.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.h1-span {
  font-weight: 700;
}

.header-underline {
  margin-top: 9.3rem;
  display: inline-block;
  width: 33.5rem;
  height: 0.4rem;
  background-color: #42454a;
}

.hero-textbox p {
  margin-top: 6.2rem;
  font-size: 2.2rem;
  line-height: 3.4rem;
  width: 35.3rem;
  letter-spacing: 1%;
}

.hero-btn {
  width: 43rem;
  display: flex;
  justify-content: space-between;
}

/* Buy Now Button */
button {
  margin-top: 6rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 2rem;
}

button.hero-cta-btn {
  width: 18rem;
  height: auto;
}

button.hero-cta-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 5.8rem;
  height: 5.8rem;
  background: #42454a;
}

button.hero-cta-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
}

button.hero-cta-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 2.4rem;
  height: 0.125rem;
  background: none;
}

button.hero-cta-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.39rem;
  right: 0.0625rem;
  width: 1rem;
  height: 1rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.hero-cta-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.2rem 2rem 0 1.2rem;
  margin: 0 0 0 2rem;
  color: #42454a;
  font-weight: 500;
  text-align: right;
  margin-top: 1rem;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: transparent;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.video-playback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.8rem;
  margin-top: 6rem;
  position: relative;
}

.video-playback p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 500;
  width: 8.7rem;
  margin-top: 0;
}

/* Video Playback Button */
.play-btn-group {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.play-btn {
  width: 0.8rem;
  position: relative;
}

.spinner {
  position: absolute;
  top: 0;
  left: 57%;
  width: 8rem;
  transition: all 0.4s linear;
  animation: spinner 8s linear infinite;
}

.spinner:hover {
  scale: 1.3;
}

@keyframes spinner {
  to {
    transform: rotate(-360deg);
  }
}

/* Hero Image */
.hero-img {
  display: inline-block;
  width: 85.6rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transition: all linear 0.4s;
  /* animation: slideInFromRight 1s ease-out forwards; */
}

/* @keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */

.hero-img-background {
  position: absolute;
  content: "";
  width: 55.8rem;
  height: 51rem;
  border-top-left-radius: 30rem;
  border-bottom-left-radius: 30rem;
  background-color: #dbdbdb;
  top: 6rem;
  right: 0rem;
  /* animation: second 1s ease-out forwards; */
}

/* @keyframes second {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */

/*********** Features Section ***********/
#section-features {
  margin-top: 20.9rem;
}

.features {
  display: grid;
  justify-self: center;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
}

.feature {
  width: 17.5rem;
  height: 13.7rem;
  border-radius: 0.7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.feature h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.feature h2 span {
  font-size: 4rem;
}

.feature p {
  font-size: 1.3rem;
}

/*********** Product Section ***********/
#section-product {
  margin-top: 12.7rem;
}

.product-information-textbox {
  position: relative;
}

.product-img {
  position: absolute;
  width: 74.8rem;
  top: 120%;
  left: -20%;
}

.product-information {
  margin-top: 14.3rem;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  justify-self: end;
  width: 46.4rem;
}

.information {
  display: flex;
  gap: 1.8rem;
}

.information img {
  width: 4.9rem;
}

.information p {
  font-size: 2rem;
  align-self: center;
}

/*********** Motor Section ***********/
#section-motor {
  margin-top: 24.8rem;
}

.motor {
  margin-top: 4.9rem;
  display: flex;
  justify-content: center;
}

.motor:hover {
  scale: 1.1;
  transition: all linear 0.4s;
}

/*********** Accessories Section ***********/
#section-accessories {
  margin-top: 31.5rem;
  position: relative;
}

.accessories-info {
  margin-top: 11.2rem;
  margin-top: 14.3rem;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
  width: 35rem;
}

.flex-end {
  justify-self: end;
}

.accessories1 {
  position: absolute;
  width: 87.8rem;
  top: 14%;
  left: 49%;
}

.accessories2 {
  position: absolute;
  width: 77.9rem;
  top: 60%;
  left: 0;
}

.accessories-message {
  margin: 7.4rem auto 0; /* Correct shorthand for top, horizontal, and bottom margins */
  width: 57rem;
  height: 9.4rem;
  border-radius: 1rem;
  border: 0.2rem solid #42454a;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.accessories-message .accessories-message-heading {
  font-size: 3rem !important;
  font-weight: bold !important;
}

/*********** Gallery Section ***********/
#section-gallery {
  margin-top: 12.7rem;
}

.gallery-centering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-img-1 {
  margin-top: 30.2rem;
  width: 63.3rem;
}

.gallery-img-2 {
  margin-top: 11.2rem;
  width: 63.3rem;
}

.gallery-img-3 {
  margin-top: 9.6rem;
  width: 63.3rem;
}

.gallery-textbox {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.gallery-textbox a {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  width: 57rem;
  height: 9.4rem;
  border-radius: 1rem;
  border: 0.2rem solid #42454a;
  color: #42454a;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********** Colors Section ***********/
#section-colors {
  margin-top: 12.8rem;
}

.slide-show-box {
  position: relative;
}

.slide-show {
  width: 100%;
}

.sliderNavItem img {
  width: 24.57rem;
}

.sliderNavItem {
  transition: all linear 0.3s;
}

.sliderNavItem:hover {
  scale: 1.1;
  cursor: pointer;
}

.slide-img {
  margin-top: 15.2rem;
}

.slide-show-box .positionSliderNav {
  width: 100%;
  position: absolute;
  bottom: -18rem;
}

/*********** Testimonials Section ***********/
#section-testimonials {
  margin-top: 36.6rem;
  padding: 7.8rem 0 16.7rem 0;
  background-color: #fafafa;
}

.testimonials-slide {
  position: relative;
}

.testimonial-card {
  margin-top: 4.1rem;
  width: 36rem;
  height: 36.6rem;
  padding: 5.2rem 2.2rem 5.1rem 3.4rem;
  border: 0.1rem solid #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all linear 0.3s;
}

.testimonial-card:hover {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.stars {
  width: 9.6rem;
}

.testimonial {
  font-size: 2rem;
  text-align: center;
}

.author {
  display: flex;
  gap: 2rem;
}

.author img {
  width: 4.8rem;
}

.author-textbox {
  font-size: 1.6rem;
  font-weight: 500;
}

.author-textbox p:nth-child(2) {
  font-size: 1.4rem !important;
  font-weight: 400;
}

.arrows {
  /* display: inline-block; */
  font-size: 2.5rem;
  border-radius: 4rem;
  padding: 1rem 1.2rem;
  color: #42454a;
  border: 0.1rem solid #42454a;
  transition: all linear 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows:hover {
  color: #fff;
  background-color: #42454a;
}

.larr {
  position: absolute;
  bottom: -25%;
  left: 45%;
}

.rarr {
  position: absolute;
  bottom: -25%;
  right: 45%;
}

/*********** Newsletter Section ***********/
#section-newsletter {
  padding-top: 12.1rem;
  padding-bottom: 12.7rem;
}

form {
  margin-top: 5.9rem;
  text-align: center;
  display: grid;
  grid-template-columns: 40rem 19.6rem;
  justify-content: center;
  gap: 2rem;
}

input {
  height: 8.1rem;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 2.6rem 3.8rem;
}

form input:last-child {
  background-color: #42454a;
  color: #fff;
  padding: 0;
}

/*********** Footer ***********/
footer {
  padding-top: 10rem;
  background-color: #42454a;
  position: relative;
}

.footer-content {
  display: grid;
  justify-self: end;
  grid-template-columns: 10rem 10.7rem 13.5rem;
  gap: 10.5rem;
}

.footer-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: #fff;
}

.footer-textbox {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer-textbox a {
  font-size: 1.6rem;
  color: #42454a;
  color: #fff;
}

.socials {
  display: flex;
  gap: 1.6rem;
  justify-self: end;
  font-size: 3.5rem;
}

.facebook {
  color: #fff;
  transition: color linear 0.3s;
}

.facebook:hover {
  color: #1877f2;
}

.twitter {
  color: #fff;
  transition: color linear 0.3s;
}

.twitter:hover {
  color: #1da1f2;
}

.instagram {
  color: #fff;
  transition: color linear 0.3s;
}

.instagram:hover {
  color: #c13584;
}

.copyright {
  margin-top: 10rem;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif !important;
}

.footer-scooter {
  position: absolute;
  top: -20%;
  left: 0;
  width: 73rem;
}
